In [1]:
import mysql.connector
from mysql.connector import Error

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import csv

In [2]:
# Define your connection parameters
host = 'svc-f4f9acbe-4071-4887-bec1-7685aef5c9a4-dml.aws-oregon-3.svc.singlestore.com'
user = 'admin'
password = 'Sunday12345!'
database = 'adtech'
port = 3306

In [3]:
try:
    # Create a connection to SingleStore
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port
    )
    
    if connection.is_connected():
        print("Connection to SingleStore was successful.")
    
except Error as e:
    print(f"Error while connecting to SingleStore: {e}")

finally:
    if connection.is_connected():
        connection.close()
        print("Connection closed.")

Connection to SingleStore was successful.
Connection closed.

In [4]:
try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port
    )
    
    cursor = connection.cursor()
    
    ## All tables in adtech database
    cursor.execute("SHOW TABLES")
    
    for table in cursor.fetchall():
        print(table)
    
except Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Connection closed.")

('campaigns',)
('events',)
Connection closed.

In [5]:
try:
    # Connect to SingleStore database
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port
    )
    
    if connection.is_connected():
        print("Connection to SingleStore was successful.")
        
        cursor = connection.cursor()

        # Execute SQL query
        query = "SELECT * FROM campaigns"
        cursor.execute(query)

        # Fetch all results
        results = cursor.fetchall()

        # Get column names
        columns = [i[0] for i in cursor.description]

        # Open a CSV file for writing
        with open('campaigns_data.csv', mode='w', newline='', encoding='utf-8') as file:
            writer = csv.writer(file)

            # Write column names as the first row
            writer.writerow(columns)

            # Write the results to the CSV
            writer.writerows(results)

        print("Data has been successfully saved to 'campaigns_data.csv'.")

        # Execute SQL query
        query = "SELECT * FROM events"
        cursor.execute(query)

        # Fetch all results
        results = cursor.fetchall()

        # Get column names
        columns = [i[0] for i in cursor.description]

        # Open a CSV file for writing
        with open('events_data.csv', mode='w', newline='', encoding='utf-8') as file:
            writer = csv.writer(file)

            # Write column names as the first row
            writer.writerow(columns)

            # Write the results to the CSV
            writer.writerows(results)

        print("Data has been successfully saved to 'events_data.csv'.")

except Error as e:
    print(f"Error while connecting to SingleStore: {e}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Connection closed.")

Connection to SingleStore was successful.
Data has been successfully saved to 'campaigns_data.csv'.
Data has been successfully saved to 'events_data.csv'.
Connection closed.

In [6]:
data_campaigns = pd.read_csv('campaigns_data.csv')
data_events = pd.read_csv('events_data.csv')

In [7]:
data_campaigns.head()

   campaign_id        campaign_name
0            1         demand great
1            2             blackout
2            3        flame broiled
3            4  take it from a fish
4            5            thank you

In [8]:
data_events.head()

,user_id,event_name,advertiser,campaign,gender,income,page_url,region,country
0,994349219,Impression,The Kroger Co.,13,Male,25k - 50k,/2016/05/may-desktop-wallpaper-calendar.html/,Sao Paulo,BR
1,994349283,Impression,OReilly Automotive,2,Female,25k - 50k,/,Stockholm,SE
2,994349283,Impression,OReilly Automotive,3,Female,25k - 50k,/2014/07/balloon-arch-tutorial.html/7/,Stockholm,SE
3,994349321,Click,Subway,5,unknown,75k - 99k,/2016/03/18-best-paper-plant-tutorials.html/13/,Pennsylvania,US
4,994349321,Impression,Subway,5,unknown,75k - 99k,/2016/03/18-best-paper-plant-tutorials.html/13/,Pennsylvania,US